<h1>REPLY</h1>
<article>
  <a href="http://reddit.com/u/<%= @@comment.author %>" target="_blank"><%= @@comment.author %>:</a>
  <br />
  <pre><%= @@comment.body %></pre>
</article>
<hr/>
<form action="/reply/<%= @@comment.name %>" method="post">
  <input type="text" name="reply_body">
  <input type="submit" value="Submit">
</form>
<br />
